<a href="https://colab.research.google.com/github/SamwelJane/Mchezopesa-Ltd-Football-analysis/blob/master/Moringa_Data_Science_Core_W6_Independent_Project_2019_08_Samwel_Jane_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. DEFINING THE QUESTION

##  a. SPECIFYING THE QUESTION:
### Make Prediction result of a game between team 1 and team 2, based on who's home and who's away, and on whether or not the game is friendly (include rank ing).

## b. METRIC FOR SUCCESS

## c. CONTEXT

A more detailed explanation and history of the rankings is available here: https://en.wikipedia.org/wiki/FIFA_World_Rankings (Links to an external site.)

An explanation of the ranking procedure is available here: https://www.fifa.com/fifa-world-ranking/procedure/men.html

## d. EXPERIMENTAL DESIGNS

## e.DATA RELEVANCE

# 2. READING THE DATA

In [0]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# loading the dataset and previewing our dataset
#url= "https://drive.google.com/open?id=1BYUqaEEnFtAe5lvzJh9lpVpR2MAvERUc"
# review the first 5 rows
results=pd.read_csv('results.csv')
results.head()

         date home_team away_team  ...     city   country neutral
0  1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1  1873-03-08   England  Scotland  ...   London   England   False
2  1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3  1875-03-06   England  Scotland  ...   London   England   False
4  1876-03-04  Scotland   England  ...  Glasgow  Scotland   False

[5 rows x 9 columns]

In [3]:
# define aour dataframe as rank 
# preview the fisrt 5 row in a oiur dataset
rank = pd.read_csv('fifa_ranking.csv')
rank.head()

   rank country_full  ... confederation   rank_date
0     1      Germany  ...          UEFA  1993-08-08
1     2        Italy  ...          UEFA  1993-08-08
2     3  Switzerland  ...          UEFA  1993-08-08
3     4       Sweden  ...          UEFA  1993-08-08
4     5    Argentina  ...      CONMEBOL  1993-08-08

[5 rows x 16 columns]

In [11]:
# explore  information about our  dataframe:ranking and results
print('Results Information:',results.info())

print('Rank Information:',rank.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40839 entries, 0 to 40838
Data columns (total 9 columns):
date          40839 non-null object
home_team     40839 non-null object
away_team     40839 non-null object
home_score    40839 non-null int64
away_score    40839 non-null int64
tournament    40839 non-null object
city          40839 non-null object
country       40839 non-null object
neutral       40839 non-null bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.5+ MB
Results Information: None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57793 entries, 0 to 57792
Data columns (total 16 columns):
rank                       57793 non-null int64
country_full               57793 non-null object
country_abrv               57793 non-null object
total_points               57793 non-null float64
previous_points            57793 non-null int64
rank_change                57793 non-null int64
cur_year_avg               57793 non-null float64
cur_year_avg_weighted      57793 non-null float64
last_year_avg              57793 non-null float64
last_year_avg_weighted     57793 non-null float64
two_year_ago_avg           57793 non-null float64
two_year_ago_weighted      57793 non-null float64
three_year_ago_avg         57793 non-null float64
three_year_ago_weighted    57793 non-null float64
confederation              57793 non-null object
rank_date                  57793 non-null object
dtypes: float64(9), int64(3), object(4)
memory usage: 7.1+ MB
Rank Information: None

In [5]:
rank.isnull().sum()

rank                       0
country_full               0
country_abrv               0
total_points               0
previous_points            0
rank_change                0
cur_year_avg               0
cur_year_avg_weighted      0
last_year_avg              0
last_year_avg_weighted     0
two_year_ago_avg           0
two_year_ago_weighted      0
three_year_ago_avg         0
three_year_ago_weighted    0
confederation              0
rank_date                  0
dtype: int64

In [6]:
results.isnull().sum()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [17]:
# creating a new data frame for rankind called rank_df
rank_df = rank[['rank','country_full','total_points','previous_points','confederation', 'rank_date']]
rank_df.head()

   rank country_full  total_points  previous_points confederation   rank_date
0     1      Germany           0.0               57          UEFA  1993-08-08
1     2        Italy           0.0               57          UEFA  1993-08-08
2     3  Switzerland           0.0               50          UEFA  1993-08-08
3     4       Sweden           0.0               55          UEFA  1993-08-08
4     5    Argentina           0.0               51      CONMEBOL  1993-08-08

In [8]:
results.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')

In [9]:
# new data dataframe for results  will be called results_df
results_df = results[['date', 'home_team', 'away_team', 'home_score', 'away_score','tournament', 'city', 'country', 'neutral']]
results_df.head()

         date home_team away_team  ...     city   country neutral
0  1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1  1873-03-08   England  Scotland  ...   London   England   False
2  1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3  1875-03-06   England  Scotland  ...   London   England   False
4  1876-03-04  Scotland   England  ...  Glasgow  Scotland   False

[5 rows x 9 columns]

In [27]:
# merging dataframes
df=results_df.merge( rank_df, left_on='country', right_on='country_full')
df.head()

         date home_team away_team  ...  previous_points  confederation   rank_date
0  1872-11-30  Scotland   England  ...               43           UEFA  1993-08-08
1  1872-11-30  Scotland   England  ...               41           UEFA  1993-09-23
2  1872-11-30  Scotland   England  ...               43           UEFA  1993-10-22
3  1872-11-30  Scotland   England  ...               43           UEFA  1993-11-19
4  1872-11-30  Scotland   England  ...               45           UEFA  1993-12-23

[5 rows x 15 columns]

In [29]:
df[['country','total_points']].sort_values('total_points',ascending=False)

          country  total_points
1852957   Germany       1775.03
1812631   Germany       1775.03
1824071   Germany       1775.03
1794327   Germany       1775.03
1892711   Germany       1775.03
1854959   Germany       1775.03
1805481   Germany       1775.03
1913589   Germany       1775.03
1904723   Germany       1775.03
1888707   Germany       1775.03
1922741   Germany       1775.03
1765155   Germany       1775.03
1785175   Germany       1775.03
1770303   Germany       1775.03
1881271   Germany       1775.03
1857819   Germany       1775.03
1768015   Germany       1775.03
1870689   Germany       1775.03
1897859   Germany       1775.03
1846951   Germany       1775.03
1875265   Germany       1775.03
1865255   Germany       1775.03
1866971   Germany       1775.03
1858105   Germany       1775.03
1810629   Germany       1775.03
1892997   Germany       1775.03
1832651   Germany       1775.03
1888421   Germany       1775.03
1831507   Germany       1775.03
1872977   Germany       1775.03
...           ...           ...
3987350    Mexico          0.00
3987363    Mexico          0.00
3987362    Mexico          0.00
3987361    Mexico          0.00
3987360    Mexico          0.00
3987359    Mexico          0.00
3987358    Mexico          0.00
3987357    Mexico          0.00
3987356    Mexico          0.00
3987355    Mexico          0.00
3987354    Mexico          0.00
3987353    Mexico          0.00
3987352    Mexico          0.00
3987351    Mexico          0.00
3987349    Mexico          0.00
3987335    Mexico          0.00
3987348    Mexico          0.00
3987347    Mexico          0.00
3987346    Mexico          0.00
3987345    Mexico          0.00
3987344    Mexico          0.00
3987343    Mexico          0.00
3987342    Mexico          0.00
3987341    Mexico          0.00
3987340    Mexico          0.00
3987339    Mexico          0.00
3987338    Mexico          0.00
3987337    Mexico          0.00
3987336    Mexico          0.00
5123255  Dominica          0.00

[10246510 rows x 2 columns]

In [0]:
per_df[['COUNTY','TOTAL_COUNT']][:47].sort_values('TOTAL_COUNT',ascending=False).head(3)